services:
  - type: web
    name: inventory-management-system
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && cd backend && npm install && cd ../frontend && npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
    healthCheckPath: /api/products
